# PostgreSQL Database Credentials
POSTGRES_USER=ticketbox_user
POSTGRES_PASSWORD=ticketbox_password
POSTGRES_DB=ticketbox_db

# NestJS Backend Database Connection
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=ticketbox_user
DATABASE_PASSWORD=ticketbox_password
DATABASE_NAME=ticketbox_db
